/* * {
    transition: .2s all;
} */

body {
    font-family: 'Nunito', sans-serif;
    color: #6c757d;
    overflow: hidden;
}

#app {
    display: flex;
}

#side_bar {
    background-color: #313a46;
    height: 100vh;
    transition: .3s all;
}


@media screen and (max-width: 800px) {
    .side_bar_med {
        width: 0px;
        display: none;
    }
  }


/* ////////////// SIDEBAR GRANDE ////////////// */
.side_bar_max {
    width: 260px;
    padding-top: 20px;
}
/* ////////////// SIDEBAR MÉDIA /////////////// */
.side_bar_med {
    width: 70px;
    padding-top: 15px;
}
/* ////////////// SIDEBAR PEQEUNA ///////////// */
.side_bar_min {
    width: 0px;
    display: none;
}





.logo {
    /* margin-top: 20px; */
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: white;
}

#title_an {
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(77, 213, 255), rgb(191, 123, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#conteudo {
    background-color: #f8f9fd;
    padding: 24px;
    padding-top: 90px;
    overflow-y: scroll;
    max-height: 100vh;
    width: 100%;
}


header {
    position: fixed !important;
    top: 0;
    width: 100%;
    margin: 0px -24px 20px -24px;
    background-color: #ffffff;
    height: 70px;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    padding-left: 24px;
    padding-right: 24px;
    z-index: 10;
}

.marcacao {
    background-color: rgba(255, 0, 0, 0.26);
}


.card {
    margin-top: 24px;
    min-height: 180px;
    border: none;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    transition: .3s all;
}

.card:hover {
    box-shadow: 0px 0px 30px 0px rgba(150, 156, 166, 0.316);
}

.btn {
    box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
}

input {
    background-color: #e8eaf1 !important;
    border-color: #f1f3fa !important;
    color: #6c757d !important;
    border-color: #e8eaf1 !important;
}


.btn-primary {
    background-color: #727cf5 !important;
    border: none;
    border-radius: 0.15rem;
}

.btn-primary:hover {
    background-color: #5f69cf !important;
    border: none;
    border-radius: 0.15rem;
}


.link {
    color: #98a6ad;
    text-decoration: none;
}

.link:hover {
    color: #98a6ad;
    text-decoration: underline;
}

.btn-icon img {
    height: 15px;
    filter: invert(1);
    margin-left: 3px;
    margin-right: 3px;
}


.footer {
    border-top: 1px solid rgba(152, 166, 173, .2);
    bottom: 0;
    padding: 15px 15px 0px 15px;
    right: 0;
    color: #98a6ad;
    left: 260px;
    margin-top: 20px;
    margin-bottom: -8px;
}