body {
    font-family: 'Nunito', sans-serif;
    color: #6c757d;
}

#app {
    display: grid;
    grid-template-columns: 264px 1fr;
}

#side_bar {
    background-color: #313a46;
    height: 100vh;
}


#conteudo {
    background-color: #f8f9fd;
    padding: 24px;
}


header {
    margin: -24px -24px 20px -24px;
    background-color: #fff;
    height: 70px;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    padding-left: 24px;
    padding-right: 24px;
}

.marcacao {
    background-color: rgba(255, 0, 0, 0.26);
}


.card {
    margin-top: 24px;
    min-height: 160px;
    border: none;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    transition: .3s all;
}

.card:hover {
    box-shadow: 0px 0px 30px 0px rgba(150, 156, 166, 0.316);
}

.btn {
    box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
}

input {
    background-color: #e8eaf1!important;
    border-color: #f1f3fa!important;
    color: #6c757d !important;
    border-color: #e8eaf1 !important;
}


.btn-primary {
    background-color: #727cf5!important;
    border: none;
    border-radius: 0.15rem;
}
.btn-primary:hover {
    background-color: #5f69cf!important;
    border: none;
    border-radius: 0.15rem;
}


.btn-icon img {
    height: 15px;
    filter: invert(1);
    margin-left: 3px;
    margin-right: 3px;
}